@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
	--bg-main-w: #fff;
	--bg-main-d: #000;
	--text-color-w: #E0C3FC;
	--text-color-d: #8EC5FC;
	--text-second-color: rgb(125, 125, 125);
	--border-color: rgb(178, 178, 178);
	--border-second-color: rgb(214, 214, 214);
}

h1 {
	font-size: 2.25rem;
	font-weight: 600;
}
h2 {
	font-size: 1.5rem;
	font-weight: 500;
}
h3 {
	font-size: 1.25rem;
	font-weight: 500;
}
p {
	font-size: 1rem;
	color: var(--text-second-color);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	background-color: var(--bg-main-w);
}