.main {
	width: 100%;
	padding: 1rem 0.25rem 0 0.25rem;
}
.main__cover {
	height: 150px;
	/* width: 100%; */
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	border-radius: 1rem 1rem 0 0;
}
.main__user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0.75rem 0 0.75rem;
	margin-top: -1.75rem;
	padding-bottom: 2.5rem;
	border-bottom: 1px solid var(--border-color);
}
.main__btn {
	height: 100%;
	padding: 0.75rem;
	background-color: var(--text-color-w);
}
.main__user-info {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}
.main__user-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 0.15rem solid #fff;
	margin-top: -1.25rem;
	-webkit-box-shadow: 0px 15px 15px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 15px 15px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 15px 15px 0px rgba(34, 60, 80, 0.2);
}
.main__user-text {}
.user__text-title {}
.user__text-subtitle {}

/* HOVER */

/* MEDIA */

@media (max-width: 700px) {
	.main__user {
		display: block;
	}
	.main__user-info {
		display: block;
		margin-bottom: 0.75rem;
	}
	.user__text-title {
		font-size: 1.75rem;
	}
	.user__text-subtitle {
		font-size: 0.9rem;
	}
}