/* SECTION */

.section {
	padding: 1.75rem 0 1.75rem 0;
	border-bottom: 1px solid var(--border-color);
}
.section__project {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.section__project-right {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

/* IF ADMIN */

.btn-admin {
	padding: 0.5rem;
	background-color: #a7d3ff;
	margin: 0.75rem 0  0.75rem 0;
}

/* MEDIA */

@media (max-width: 800px) {
	.section__project-right {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 700px) {
	.section__project h2 {
		margin-bottom: 0.5rem;
	}
	.project__list-item {
		margin: 0 auto;
	}
}
@media (max-width: 600px) {
	.section__project {
		display: block;
	}
	.section__project-right {
		margin: 0 auto;
		width: 100%;
	}
}