/* SECTION */

.section {
	padding: 1.75rem 0 1.75rem 0;
	border-bottom: 1px solid var(--border-color);
}
.section__project {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.section__project-right {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}
.project__list-item {
	width: 100%;
	border: 2px solid var(--border-second-color);
	border-radius: 10px;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.list__item-info {
	display: flex;
	align-items: center;
}
.list__item-text {
	max-width: 420px;
}
.item__info-inner {
	margin-right: 0.5rem;
}
.item__info-img {
	width: 35px;
	height: 35px;
	padding: 0.25rem;
	background-color: var(--text-color-d);
	border-radius: 50%;
}
.item__info-title {}
.item__info-subtitle {}
.list__item-topics {
	border-bottom: 2px solid var(--border-second-color);
	display: flex;
	gap: 0.25rem;
	padding: 0.5rem 0 0.5rem 0;
}
.list__item-topics > li {
	font-size: 0.75rem;
	background-color: #a7d3ff;
	padding: 0.25rem;
	border-radius: 10px;
	font-weight: 500;
	transition: background-color 0.15s ease-in;
}
.project__list-btn {
	display: flex;
	margin: 0 0 0 auto;
	padding: 0.5rem;
	border-radius: 0.75rem;
	font-weight: 500;
	border: none;
	background-color: #a7d3ff;
	color: #000;
	transition: background-color 0.15s ease-in;
	font-size: 0.9rem;
}

/* HOVER */

.list__item-topics > li:hover {
	background-color: var(--text-color-d);
	cursor: pointer;
}
.project__list-btn:hover {
	background-color: var(--text-color-d);
	cursor: pointer;
}

/* MEDIA */

@media (max-width: 1450px) {
	.project__list-item {
		max-width: 500px;
	}
}
@media (max-width: 800px) {
	.section__project-right {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 700px) {
	.section__project h2 {
		margin-bottom: 0.5rem;
	}
	.project__list-item {
		margin: 0 auto;
	}
}
@media (max-width: 600px) {
	.section__project {
		display: block;
	}
	.section__project-right {
		margin: 0 auto;
		width: 100%;
	}
}